/* stylelint-disable */

@font-face {
    font-family: "iconfont"; /* Project id 2605006 */
    src: url("iconfont.woff2?t=1623984180833") format("woff2"),
        url("iconfont.woff?t=1623984180833") format("woff"),
        url("iconfont.ttf?t=1623984180833") format("truetype");
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-fasong::before {
    content: "\e804";
}

.icon-cunchu::before {
    content: "\e801";
}

.icon-xiazai::before {
    content: "\e803";
}
